{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Us</h1>

    <p class="lead">KSC Clothing est. 2024</p>

    <p>Welcome to KSC Clothing, where the art of fashion merges seamlessly with our commitment to sustainability! Founded by Katherine, Stirling, and Comail, KSC Clothing embodies a collective passion for stylish, eco-conscious attire.

        As a new business looking to grow, we are excited to introduce our curated collection featuring low-rise jeans, linen pants, green floral dresses, and more. Each garment is not just a piece of clothing; it's a statement of our dedication to ethical fashion. From sourcing materials responsibly to supporting fair labor practices, we ensure that every item in our catalogue aligns with our mission of sustainability.
        
        Explore our thoughtfully designed pieces that blend modern trends with timeless elegance. Whether it's our comfortable linen pants or our vibrant green floral dresses, every item tells a story of craftsmanship and care for the environment.
        
        Join us in embracing a more sustainable approach to fashion. Discover your new favorite pieces at KSC Clothing and be part of a movement towards a more stylish, conscious future. Together, let's redefine fashion with purpose and passion.</p>

{% endblock %}
