{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Us</h1>

    <p class="lead">Est. 2024</p>

    <p>Welcome to KSC Clothing, where the art of fashion merges seamlessly with our commitment to sustainability! Founded by Katherine, Stirling, and Comail, KSC Clothing embodies a collective passion for stylish, eco-conscious attire.<br><br>

        As a new business looking to grow, we are excited to introduce our curated collection featuring low-rise jeans, linen pants, green floral dresses, and more. Each garment is not just a piece of clothing; it's a statement of our dedication to ethical fashion. From sourcing materials responsibly to supporting fair labor practices, we ensure that every item in our catalogue aligns with our mission of sustainability.<br><br>
        
        Explore our thoughtfully designed pieces that blend modern trends with timeless elegance. Whether it's our comfortable linen pants or our vibrant green floral dresses, every item tells a story of craftsmanship and care for the environment.<br><br>
        
        Join us in embracing a more sustainable approach to fashion. Discover your new favorite pieces at KSC Clothing and be part of a movement towards a more stylish, conscious future. Together, let's redefine fashion with purpose and passion.</p>

        <img src="/images/Katherine.jpg" alt="Founder - Katherine">
        <img src="/images/Stirling.jpg" alt="Founder - Stirling">
        <img src="/images/Comail.jpg" alt="Founder - Comail">
{% endblock %}
