{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Us</h1>

    <p class="lead">Est. 2024</p>

    <p>Welcome to KSC Clothing, where the art of fashion merges seamlessly with our commitment to sustainability! Founded by Katherine, Stirling, and Comail, KSC Clothing embodies a collective passion for stylish, eco-conscious attire.<br><br>

        As a new business looking to grow, we are excited to introduce our curated collection featuring low-rise jeans, linen pants, green floral dresses, and more. Each garment is not just a piece of clothing; it's a statement of our dedication to ethical fashion. From sourcing materials responsibly to supporting fair labor practices, we ensure that every item in our catalogue aligns with our mission of sustainability.<br><br>
        
        Explore our thoughtfully designed pieces that blend modern trends with timeless elegance. Whether it's our comfortable linen pants or our vibrant green floral dresses, every item tells a story of craftsmanship and care for the environment.<br><br>
        
        Join us in embracing a more sustainable approach to fashion. Discover your new favorite pieces at KSC Clothing and be part of a movement towards a more stylish, conscious future. Together, let's redefine fashion with purpose and passion.</p>

        <img src="https://media.licdn.com/dms/image/D5603AQGpVcelKuBLQg/profile-displayphoto-shrink_200_200/0/1691614108766?e=1720656000&v=beta&t=pkrULzkAP7Av6iM1X9x3l4SJ0VJZBDtnuU9mA2b8TDQ" alt="Founder - Katherine">
        <img src="https://media.licdn.com/dms/image/D5603AQE3ZikHcW4PAg/profile-displayphoto-shrink_800_800/0/1687312685265?e=2147483647&v=beta&t=5oL9KDGfzRru2gWexcpo0pa1hRvFcmdAq4v6gllbgkE" width="200px" height="200px" alt="Founder - Stirling">
        <img src="https://media.licdn.com/dms/image/D4E03AQGVcxC9w0SAdA/profile-displayphoto-shrink_200_200/0/1698334287894?e=1720656000&v=beta&t=6cyu7pq7tIpwYNyKpdb_wjJuUtmH_ZYp1wfywpY8FWI" alt="Founder - Comail">
{% endblock %}
