{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block styles %}
    <style>
        body {
            background-image: url('https://st.depositphotos.com/1389715/4717/i/450/depositphotos_47174141-stock-photo-brand-new-interior-of-cloth.jpg');
            background-size: cover;
            background-position: center;
            /* Add more background styles as needed */
        }
    </style>
{% endblock %}

{% block content %}

    <h1>Home</h1>

    <p class="lead">This is the home page.</p>

    <p>Here is some more info!</p>

{% endblock %}


<!-- {% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Home</h1>

    <p class="lead">This is the home page.</p>

    <p>Here is some more info!</p>

{% endblock %} -->
