{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}
{% block content %}

    <h1>Home</h1>

    <p class="lead">Welcome to KSC Clothing!</p>

    <p>Explore our website! </p>

    <div class="row justify-content-center">
        <div class="col-md-6 text-center"> <!-- Adjust col-md-6 to desired width -->
            <!-- Insert the image using the <img> tag -->
            <img src="https://t4.ftcdn.net/jpg/05/19/72/31/360_F_519723150_nRujutYgp3J61t4BgkCmqB5kYIuW4bpM.jpg" alt="logo" class="img-fluid">
        </div>
    </div>

     <!-- Insert the image using the <img> tag
     <img src= "https://st.depositphotos.com/1389715/4717/i/450/depositphotos_47174141-stock-photo-brand-new-interior-of-cloth.jpg" alt="Image Description"> -->

{% endblock %}